<div class="container">
  <div class="center">
    <h1 class="dashboard-header"><%= "#{@current_user.first_name} #{@current_user.last_name}'s Net Worth Snapshot" %></h1>
  </div>
  <ul class="bullets">
    <li class="bullet-point">
      <div class="bullet-iconic bullet-icon-4">
        <img src="<%= @user.net_worth.calc_networth > 0 ? "https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_mood_white_48dp_1x.png" : "https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_mood_bad_white_48dp_1x.png" %> " alt="">
      </div>
      <div class="bullet-content">
        <h2>Net Worth</h2>
        <h3 class="<%= @user.net_worth.calc_networth < 0 ? "red" : "green" %>"> <%= number_to_currency @user.net_worth.calc_networth, precision: 0, negative_format: "(%u%n)" %></h3>
      </div>
    </li>
    <li class="bullet-point">
      <div class="bullet-iconic bullet-icon-5">
        <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_domain_white_48dp_1x.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Assets</h2>
        <h3 class="green"><%= number_to_currency @user.net_worth.sum_assets, precision: 0 %></h3>
      </div>
    </li>
    <li class="bullet-point">
      <div class="bullet-iconic bullet-icon-6">
        <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_card_travel_white_48dp_1x.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>Liabilities</h2>
        <h3 class="red"><%= number_to_currency @user.net_worth.sum_liabilities, precision: 0, negative_format: "(%u%n)" %></h3>
      </div>
    </li>
  </ul>
  <div id="net-worth-chart">
  </div>
  <div class="center">
    <button type="button" class="js-menu-trigger sliding-panel-button orange">
      Update Profile or Accounts
    </button>
  </div>
  <div class="center">
    <h1 class="financial-plan-header">Personal Financial Plan Steps</h1>
  </div>
  <div class="grid-items">
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_supervisor_account_white_48dp_1x.png" alt="">
      <h2>1) Invest in your 401(k) up until your employer match</h2>
      <p>Free Money! If your company offers a 401(k) match, contribute up to that match limit.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_credit_card_white_48dp_1x.png" alt="">
      <h2>2) Pay down any high-interest (>8%) credit card debt</h2>
      <p>Credit card debt is no fun!  Start with the highest interest rate & work your way down until it's all paid off.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_local_hospital_white_48dp_1x.png" alt="">
      <h2>3) Build an emergency fund with 3 months worth of expenses</h2>
      <p>Life happens. A rainy day fund keeps you out of bad debt (credit card) should something unexpected arise.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_trending_up_white_48dp_1x.png" alt="">
      <h2>4) Fully fund a Roth IRA</h2>
      <p>Fund with after-tax money and you don't have to pay taxes when you withdraw it! Contribution limit is $5,500, $6,500 if you're 55+ yrs old.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_store_mall_directory_white_48dp_1x.png" alt="">
      <h2>5) Make sure you have adequate insurance coverage</h2>
      <p>Make sure you are covered in an emergency. Auto, home, medical, and term life (if you have dependents).</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_trending_down_white_48dp_1x.png" alt="">
      <h2>6) Pay down any loans at higher interest rates > 5%</h2>
      <p>With good credit, you can get a loan for "good debt" at < 5%. Anything else should be paid off at this step</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_home_white_48dp_1x.png" alt="">
      <h2>7/8) Save towards a house down payment</h2>
      <p>7 and 8 depend on your goals and situation. You're doing great so choose either step as your next step!</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_monetization_on_white_48dp_1x.png" alt="">
      <h2>7/8) Continue to fund your 401(k) to the max</h2>
      <p>Saving in your 401(k) reduces your taxes this year & you won't pay tax until you withdraw it in retirement.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_toll_white_48dp_1x.png" alt="">
      <h2>9-12) Invest money in taxable accounts</h2>
      <p>At step 9!? You're in the top 5% of savers! At this point steps 9-12 are up to you and depend on your goals</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_opacity_white_48dp_1x.png" alt="">
      <h2>9-12) Pay down your mortgage</h2>
      <p>It will be nice to pay off that mortgage! However, consider that any rate below 5% is great and you can probably do better than that in the stock market.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_school_white_48dp_1x.png" alt="">
      <h2>9-12) Children's Education fund</h2>
      <p>Many parents want to help their kids with school. However, students can take student loans, you can't take student loans for retirement.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <img src="https://s3-us-west-2.amazonaws.com/startup-app/Icons/ic_star_white_48dp_1x.png" alt="">
      <h2>9-12) Individual Goals & Dreams</h2>
      <p>Vacation of a lifetime? Learn a new skill? Feed a current or new hobby? New Car? Once you've reached this step, you have your choices!</p>
    </a>
  </div>
</div>
<div class="center">
  <button type="button" class="js-menu-trigger sliding-panel-button orange">
    Update Profile or Accounts
  </button>
</div>
<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="javascript:void(0)"><strong>Profile</strong></a></li>
    <li><a class="non-heading" href="/user/biographical">Biographical</a></li>
    <li><a class="non-heading" href="/user/spouse">Spousal Information</a></li>
    <li><a class="non-heading" href="/user/other">Other</a></li>
    <li><a href="javascript:void(0)"></a></li>
    <li><a href="javascript:void(0)"><strong>Accounts</strong></a></li>
    <li><a class="non-heading" href="/networths/bank">Checking/Savings</a></li>
    <li><a class="non-heading" href="/networths/retirement">Retirement Accounts</a></li>
    <li><a class="non-heading" href="/networths/equities">Stocks & Bonds</a></li>
    <li><a class="non-heading" href="/networths/physical_assets">Real Estate/Auto</a></li>
    <li><a class="non-heading" href="/networths/other_assets">Other Assets</a></li>
    <li><a class="non-heading" href="/networths/physical_liabilities">Real Estate/Auto Loans</a></li>
    <li><a class="non-heading" href="/networths/installment_debt">Credit Card/Student Loans/Consumer Loans</a></li>
    <li><a class="non-heading" href="/networths/other_liabilities">Other Liabilities</a></li>
  </ul>
</nav>
<div class="js-menu-screen sliding-panel-fade-screen"></div>
