<div class="container">
  <h2 class="question-text">Remember When I Said We'd Take a Look At Stocks or Bonds Outside of Retirement Accounts? <br> Now's That Time!</h1>
  <%= render :layout => 'form' do |f| %>
    <div class="question-block">
      <div>
        <label class="input-label"><%= f.label :stocks, "Stocks:" %></label>
        <label class="fyi-info">Held Outside of Retirement Accounts</label>
        <div><%= f.text_field :stocks, :value => @current_user.net_worth.stocks %></div>
      </div>
      <div class="form-block">
        <label class="input-label"><%= f.label :bonds, "Bonds:" %></label>
        <label class="fyi-info">Held Outside of Retirement Accounts</label>
        <%= f.text_field :bonds, :value => @current_user.net_worth.bonds %>
      </div>
      <div class="navigation-buttons">
        <input type="button" class="back-button" value="Back" onclick="history.back(-1)"></input>
        <%= f.submit "Continue", class: "continue-button" %>
      </div>
      <div class="center">
        <%= render :layout => 'sidebar' do |f| %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
